@import "nullstyle.scss";


$blck: 900;
$nrml: 400;
$bld: 700;
$lght: 300;
$wht:#ffffff;
$c-blck: #000000;


body{
	font-family: Lato;
	font-weight: $nrml;
	.content{
		display: flex;
		flex-direction: column;
	}
}

.title {
	font-size: 34px;
	line-height: 1.2;
	font-weight: $bld;
	text-transform: uppercase;
	letter-spacing: 0.16em;
	color: #000000;
	position: relative;
	margin: 0px 0px 73px 0px;
	&::after{
		content: '';
		width: 105px;
		height: 2px;
		background-color: $c-blck;
		position: absolute;
		top: 75px;
		left: 50%;
		transform: translateX(-50%);
	}
}
.subtitle {
	font-size: 22px;
	line-height: 1.2;
	font-weight: $nrml;
	letter-spacing: 0.16em;
	color: #000000;
	margin: 0px 0px 36px 0px;
}
.container {
	margin: 0px auto;
	max-width: 1143px;
	padding: 0 20px;
}

.hero {
	flex: 1 0 auto;
	min-height: 100vh;
	background: url('/img/hero/bg_hero.jpg') center center / cover no-repeat;
	text-align: center;
	padding: 165px 0px 153px 0px;
	color: $wht;
	display: flex;
	flex-direction: column;
	&__logo {
		margin: 0px 0px 159px 0px;
		img{
			max-width: 100%;
		}
	}

	&__header {
		font-size: 34px;
		line-height: 40px;
		font-weight: $blck;
		text-transform: uppercase;
		letter-spacing: 0.16em;
		margin: 0px 0px 10px 0px;
	}

	&__subheader {
		font-size: 26px;
		position: relative;
		letter-spacing: 0.16em;
		flex: 1 1 auto;
		margin: 0px 0px 80px 0px;
		
		&::after{
			content: '';
			width: 105px;
			height: 2px;
			background-color: $wht;
			position: absolute;
			top: 75px;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	&__button {
		flex: 0 1 auto;
		position: relative;
		button{
			width: 182px;
			height: 47px;
			background-color: transparent;
			border: 1px solid $wht;
			color: $wht;
			font-size: 16px;
			line-height: 1.2;
			letter-spacing: 0.006em;
			text-transform: uppercase;
		}
		&::after{
			content: '';
			position: absolute;
			top: 115px;
			left: 50%;
			transform: translateX(-50%);
			width: 17px;
			height: 10px;
			background: url('/img/hero/arrow_down_hero.png') center center/cover no-repeat;
		}
	}
}

.menu {
	text-align: center;
	padding: 22px 0px 24px 0px;
	margin: 0 auto 130px;
	&__links{
		margin: 0px 0px 0px 30px;
		
		li{
			display: inline;
			margin: 0px 48px 0px 0px;
			&:last-child{
				margin: 0px 0px 0px 0px;
				
			}
		}
		.menu__item {
			font-size: 15px;
			line-height: 1.2;
			font-weight: $nrml;
			color: #3c3c3c;
			text-transform: uppercase;
		}
	
		.menu__item-active {
			font-weight: $bld;
			color: #ada074;
		}
	}
	
}

.about {
	padding: 0px 0px 95px 0px;
	text-align: center;
	&__text {
		font-size: 14px;
		line-height: 25px;
		font-weight: $lght;
		color: #868585;
		margin: 0px 0px 69px 0px;
	}

	&__row {
		display: flex;
		justify-content: space-around;
	}

	&__column {
		display: flex;
		flex-direction: column;
		&:last-child{
			.about__item{
				.about__image{
					img{
						transform: translateX(10%);
					}
				}
			}
		}
		.about__item{
			max-width: 260px;
			.about__image {
				width: 92px;
				height: 92px;
				border: 1px solid #d9dee0;
				border-radius: 50%;
				margin: 0px auto 41px;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		
			.about__item-text {
				font-size: 14px;
				line-height: 26px;
				font-weight: $lght ;
				color: #868585;
			}
		}
	}

	
}

.portfolio {
	text-align: center;
	&__tabs {
		display: inline-block;
		margin: 0px 0px 136px 0px;
		.portfolio__links{
			display: inline-block;
			font-weight: $nrml;
			color: #3c3c3c;
			text-transform: uppercase;
			font-family: Lato;
			font-size: 15px;
			line-height: 1.2;
			margin: 0px 45px 0px 0px;
			&:last-child{
				margin: 0px 0px 0px 0px;
			}
			li{
				display: inline;
			}
		}
		.portfolio__links-active{
			font-weight: $bld;
			color: #ada074;
		}
	}

	&__gallery {
		margin: 0px 0px 64px 0px;
	}

	&__row {
		display: flex;
		justify-content: space-around;
	}

	&__column {
		display: flex;
		flex-direction: column;
		margin: 0px 27px 0px 0px;
		flex: 0 1 auto;
		&:last-child{
			margin: 0px 0px 0px 0px;
			
		}
	}

	&__image {
		width: 538px;
		height: 365px;
		object-fit: cover;
		margin: 0px 0px 16px 0px;
		&:last-child{
			margin: 0px 0px 0px 0px;
		}
	}

	&__btn {
		font-size: 16px;
		line-height: 1.2;
		font-weight: $nrml;
		letter-spacing: 0.06em;
		color: #000000;
		text-transform: uppercase;
		width: 182px;
		height: 47px;
		border: 1px solid $c-blck;
		background-color: transparent;
		margin: 0px 0px 62px 0px;
	}
}

.partners {
	padding: 100px 0 105px 0;
	background: url('/img/partners/bg_partners.jpg') center center/cover no-repeat;
	text-align: center;
	&__title {
		font-size: 30.4px;
		line-height: 1.2;
		font-weight: $lght;
		letter-spacing: 0.06em;
		color: $wht;
		margin: 0px 0px 95px 0px;

	}

	&__icons {
	}
	&__item{
		margin: 0px 109px 0px 0px;
		&:last-child{
			margin: 0px 0px 0px 0px;
		}
	}
}

.contacts {
	padding: 183px 0 102px 0;
	text-align: center;
	&__row{
		display: flex;
		justify-content: center;
	}
	&__column{
		display: flex;
		flex-direction: column;
		flex: 0 1 30%;
		margin: 0px 83px 0px 0px;
		&:last-child{
			margin: 0px 0px 0px 0px;
		}
	}
	&__row-form {
		display: flex;
		justify-content: flex-end;
		margin: 0px 0px 75px 0px;
	}

	&__column-form {
		display: flex;
		flex-direction: column;
		margin: 0px 60px 0px 0px;
		&:last-child{
			margin: 0px 0px 0px 0px;
		}
	}
	&__input-form{
		text-align: left;
		display: flex;
		flex-direction: column;
		max-width: 100%;
		margin: 0px 0px 50px 0px;
	}

	&__form {
	}

	&__body {
		display: flex;
		flex-direction: column;
	}
	&__body-right {
		font-size: 14px;
		line-height: 26px;
		font-weight: $nrml;
		color: $c-blck;
		text-align: left;
	}

	&__input {
	}

	&__form-label {
		font-size: 14px;
		line-height: 1.2;
		font-weight: $bld;
		text-transform: uppercase;
		letter-spacing: 0.06em;
		color: $c-blck;
		text-align: left;
		margin: 0px 0px 19px 0px;
	}

	&__btn {
		font-size: 16px;
		line-height: 1.2;
		font-weight: $nrml;
		letter-spacing: 0.06em;
		color: $c-blck;
		text-transform: uppercase;
		width: 161px;
		height: 47px;
		border: 1px solid $c-blck;
		background-color: transparent;
	}

	&__text {
		margin: 0px 0px 40px 0px;
	}

	&__name {
		font-weight: $bld;
		margin: 0px 0px 24px 0px;
	}

	&__social {
		display: flex;
		margin: 0px 0px 17px 0px;
	}

	&__facebook {
		width: 29px;
		height: 29px;
		background-color: rgba(255,255,255,0.0);
		border: 2px solid #1e1e1e;
		border-radius: 50%;
		margin: 0px 15px 0px 0px;
		display: flex;
		justify-content: center;
		align-items: center;
		img{
			width: 17px;
			height: 17px;
		}
	}

	&__linkedin {
		width: 29px;
		height: 29px;
		background-color: rgba(255,255,255,0.0);
		border: 2px solid #1e1e1e;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		img{
			width: 15px;
			height: 15px;
		}
	}

	&__email {
		a{
		font-weight: $bld;
		font-size: 14px;
		line-height: 26px;
		color: $c-blck;
		}
	}
}
.container {
}
.title {
}
.input {
	max-width: 161px;
	height: 35px;
	background-color: #f8f7f7;
	border-top: 1px solid #000;
}
.input__area{
	max-width: 383px;
	height: 118px;
	background-color: #f8f7f7;
	border-top: 1px solid #000;
	resize: none;
}

.footer {
	background: #3c3c3c;
	padding: 48px 0 49px 0;
	text-align: center;
	&__logo {
		margin: 0px 0px 41px 0px;
	}

	&__menu {
		margin: 0px 0px 34px 50px;
		li{
			display: inline-block;
			margin: 0px 45px 0px 0px;
		}
		a{
			font-size: 14px;
			line-height: 1.2;
			font-weight: $nrml;
			color: #a4a4a4;
		}
	}

	&__copyright {
	font-size: 14px;
	line-height: 1.2;
	font-weight: $nrml;
	color: #6c6c6c;
	}
}
